nodered/example1-webscraping.json
[{"id":"688c03c8.0df4cc","type":"tab","label":"Flow 2"},{"id":"148bd987.6ef266","type":"http request","z":"688c03c8.0df4cc","name":"","method":"GET","ret":"txt","url":"https://gist.githubusercontent.com/zekesonxx/8fa351cf7cec21fe7c43/raw/0d9a416c3f1ceeef4859293e166f9fdab65c64ca/nato.json","tls":"","x":310,"y":260,"wires":[["f631e4ed.f09a8"]]},{"id":"b26cb21c.a63b98","type":"inject","z":"688c03c8.0df4cc","name":"","topic":"booboo","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["148bd987.6ef266"]]},{"id":"a18c952c.9f3b68","type":"debug","z":"688c03c8.0df4cc","name":"","active":false,"console":"false","complete":"true","x":510,"y":200,"wires":[]},{"id":"f631e4ed.f09a8","type":"json","z":"688c03c8.0df4cc","name":"","pretty":false,"x":190,"y":260,"wires":[["b32f8786.c1f5d","dbf242f8.b6afb8"]]},{"id":"b32f8786.c1f5d","type":"function","z":"688c03c8.0df4cc","name":"getvalues","func":"var oldmsgpayload = msg.payload;\nvar topic = msg.topic;\n\nvar codes = {\n    a: \"Alpha\",\n    b: \"Bravo\",\n    c: \"Charlie\",\n    d: \"Delta\",\n    e: \"Echo\",\n    f: \"Foxtrot\",\n    g: \"Golf\",\n    h: \"Hotel\",\n    i: \"India\",\n    j: \"Juliet\",\n    k: \"Kilo\",\n    l: \"Lima\",\n    m: \"Mike\",\n    n: \"November\",\n    o: \"Oscar\",\n    p: \"Papa\",\n    q: \"Quebec\",\n    r: \"Romeo\",\n    s: \"Sierra\",\n    t: \"Tango\",\n    u: \"Uniform\",\n    v: \"Victor\",\n    w: \"Whisky\",\n    x: \"XRay\",\n    y: \"Yankee\",\n    z: \"Zulu\",\n    0: \"Zero\",\n    1: \"One\",\n    2: \"Two\",\n    3: \"Three\",\n    4: \"Four\",\n    5: \"Five\",\n    6: \"Six\",\n    7: \"Seven\",\n    8: \"Eight\",\n    9: \"Nine\"\n};\n\nvar character;\nvar newpayload = \"\";\nfor (var i=0; i < topic.length; i++) {\n  character = topic[i];\n  newpayload = newpayload + codes[character] + '\\n';    \n}\n\nvar newmsg = {};\nnewmsg.payload = newpayload;\n//newmsg.payload = oldmsgpayload.A;\n\n\nreturn newmsg;","outputs":1,"noerr":0,"x":421.49998474121094,"y":323.99998474121094,"wires":[["a18c952c.9f3b68"]]},{"id":"dbf242f8.b6afb8","type":"debug","z":"688c03c8.0df4cc","name":"","active":false,"console":"false","complete":"true","x":207.49998474121094,"y":423.40000915527344,"wires":[]},{"id":"57c97ee1.f52d7","type":"inject","z":"688c03c8.0df4cc","name":"","topic":"rabbit","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.5,"y":43,"wires":[["dd5888df.547898"]]},{"id":"21ee1eac.aabf8a","type":"debug","z":"688c03c8.0df4cc","name":"","active":true,"console":"false","complete":"payload","x":490,"y":40,"wires":[]},{"id":"dd5888df.547898","type":"http request","z":"688c03c8.0df4cc","name":"","method":"GET","ret":"txt","url":"https://gist.githubusercontent.com/zekesonxx/8fa351cf7cec21fe7c43/raw/0d9a416c3f1ceeef4859293e166f9fdab65c64ca/nato.json","tls":"","x":265.49998474121094,"y":39.80000305175781,"wires":[["46aa15dc.ac5d5c"]]},{"id":"46aa15dc.ac5d5c","type":"json","z":"688c03c8.0df4cc","name":"","pretty":false,"x":110,"y":120,"wires":[["1058e0ff.ed550f"]]},{"id":"1058e0ff.ed550f","type":"function","z":"688c03c8.0df4cc","name":"","func":"var oldpayload = msg.payload;\nvar oldtopic = msg.topic;\nvar result = \"\";\n\n\nfor (var i=0; i < oldtopic.length; i++){\n   var character = oldtopic[i].toUpperCase();\n   var natocode = oldpayload[character];\n   result = result + character + \" for \" + natocode + \"\\n\";\n}\n\nvar newmsg = {};\nnewmsg.payload = result;\nnewmsg.topic = oldtopic;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":293.49998474121094,"y":115,"wires":[["21ee1eac.aabf8a"]]}]
