nodered/example2-webscraping.json
[{"id":"4ca4cf02.fba1d8","type":"tab","label":"Flow 3"},{"id":"8d7ad0ff.27bcc","type":"inject","z":"4ca4cf02.fba1d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":78.5,"y":113,"wires":[["7d1f0bd.fce2674"]]},{"id":"1789d7c7.a15688","type":"debug","z":"4ca4cf02.fba1d8","name":"","active":true,"console":"false","complete":"false","x":512.4999847412109,"y":107.39999389648438,"wires":[]},{"id":"7d1f0bd.fce2674","type":"http request","z":"4ca4cf02.fba1d8","name":"","method":"GET","ret":"txt","url":"http://au.pcmag.com/feature/44293/gartners-top-10-strategic-technology-trends-for-2017-build-t","tls":"","x":250,"y":120,"wires":[["968c6831.9deb3","85fe7bbf.7f6e58"]]},{"id":"968c6831.9deb3","type":"html","z":"4ca4cf02.fba1d8","name":"","tag":"[id=id_text] strong","ret":"html","as":"single","x":434.49998474121094,"y":256.1999969482422,"wires":[["1789d7c7.a15688"]]},{"id":"85fe7bbf.7f6e58","type":"debug","z":"4ca4cf02.fba1d8","name":"","active":false,"console":"false","complete":"false","x":268.49998474121094,"y":335.59999084472656,"wires":[]}]
