nodered/example4-webscraping.json
[{"id":"8cb0bad7.52dba8","type":"tab","label":"Top10SuperFunds","disabled":false,"info":""},{"id":"2744bac0.aed9f6","type":"inject","z":"8cb0bad7.52dba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95.5,"y":78,"wires":[["409d9a6f.1684b4"]]},{"id":"409d9a6f.1684b4","type":"function","z":"8cb0bad7.52dba8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":230.49998474121094,"y":78.39999389648438,"wires":[["2abe0164.d8b2f6"]]},{"id":"2abe0164.d8b2f6","type":"http request","z":"8cb0bad7.52dba8","name":"","method":"GET","ret":"txt","url":"https://www.superguide.com.au/boost-your-superannuation/top-10-performing-super-funds-for-2016-2017-financial-year-and-for-past-10-years","tls":"","x":399.49998474121094,"y":69.39999389648438,"wires":[["bfbf2fd6.9c2918"]]},{"id":"bfbf2fd6.9c2918","type":"html","z":"8cb0bad7.52dba8","name":"","tag":"tbody > tr td","ret":"html","as":"single","x":150,"y":240,"wires":[["394bf06c.b800f8","61d6e575.e6f92c"]]},{"id":"394bf06c.b800f8","type":"debug","z":"8cb0bad7.52dba8","name":"","active":false,"console":"false","complete":"false","x":457.49998474121094,"y":384.59999084472656,"wires":[]},{"id":"61d6e575.e6f92c","type":"function","z":"8cb0bad7.52dba8","name":"","func":"var newmsg = {};\nvar result=[];\n var item;\nfor (var i=0; i<msg.payload.length/2; i++) {\n    if (i%3 === 0) {\n        item = {};\n        item.position = msg.payload[i].replace(/<(?:.|\\n)*?>/gm, ''); //strip html tags\n    }   \n    \n    if (i%3 === 1) {\n        item.name = msg.payload[i];\n    }\n    \n    if (i%3 === 2) {\n        item.return = msg.payload[i];\n        result.push(item); \n    }\n    \n    \n    \n}\n\nnewmsg.payload = result;\nreturn newmsg;\n","outputs":1,"noerr":0,"x":181.10000610351562,"y":441.6000061035156,"wires":[["6c1d3d50.624b54"]]},{"id":"6c1d3d50.624b54","type":"debug","z":"8cb0bad7.52dba8","name":"","active":true,"console":"false","complete":"false","x":449.10003662109375,"y":474.7999954223633,"wires":[]}]
