nodered/example1-webscraping.json
[{"id":"688c03c8.0df4cc","type":"tab","label":"Flow 2"},{"id":"57c97ee1.f52d7","type":"inject","z":"688c03c8.0df4cc","name":"","topic":"rabbit","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":105.5,"y":43,"wires":[["dd5888df.547898"]]},{"id":"21ee1eac.aabf8a","type":"debug","z":"688c03c8.0df4cc","name":"","active":true,"console":"false","complete":"payload","x":510,"y":180,"wires":[]},{"id":"dd5888df.547898","type":"http request","z":"688c03c8.0df4cc","name":"","method":"GET","ret":"txt","url":"https://gist.githubusercontent.com/zekesonxx/8fa351cf7cec21fe7c43/raw/0d9a416c3f1ceeef4859293e166f9fdab65c64ca/nato.json","tls":"","x":265.49998474121094,"y":39.80000305175781,"wires":[["46aa15dc.ac5d5c"]]},{"id":"46aa15dc.ac5d5c","type":"json","z":"688c03c8.0df4cc","name":"","pretty":false,"x":490,"y":40,"wires":[["1058e0ff.ed550f"]]},{"id":"1058e0ff.ed550f","type":"function","z":"688c03c8.0df4cc","name":"","func":"var oldpayload = msg.payload;\nvar oldtopic = msg.topic;\nvar result = \"\";\n\n\nfor (var i=0; i < oldtopic.length; i++){\n   var character = oldtopic[i].toUpperCase();\n   var natocode = oldpayload[character];\n   result = result + character + \" for \" + natocode + \"\\n\";\n}\n\nvar newmsg = {};\nnewmsg.payload = result;\nnewmsg.topic = oldtopic;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":110,"y":180,"wires":[["21ee1eac.aabf8a"]]}]
