nodered/example3-webscraping.json
[{"id":"5a153858.52019","type":"tab","label":"Flow 4"},{"id":"706f211a.a4f72","type":"inject","z":"5a153858.52019","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":83.5,"y":87,"wires":[["85aa5d84.40dcf"]]},{"id":"7c62aacc.669d64","type":"debug","z":"5a153858.52019","name":"","active":true,"console":"false","complete":"false","x":490,"y":340,"wires":[]},{"id":"85aa5d84.40dcf","type":"http request","z":"5a153858.52019","name":"","method":"GET","ret":"txt","url":"http://au.pcmag.com/feature/44258/gartners-top-strategic-predictions-for-2017-and-beyond","tls":"","x":251.49998474121094,"y":93.39999389648438,"wires":[["5933c17e.8b0358"]]},{"id":"5933c17e.8b0358","type":"html","z":"5a153858.52019","name":"","tag":"[id=id_text] strong","ret":"html","as":"single","x":510,"y":100,"wires":[["7c62aacc.669d64"]]}]
